@extends('layouts.landing')

@section('content')

	
    <div class="hero-wrap hero-bread" style="background-image: url({{asset('img/bg_1.jpg')}});">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html"></a></span> <span class="mr-2"><a href="#"></a></span> <span></span></p>
            <h1 class="mb-0 bread">{{$product->category->name  }}</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row">
    			<div class="col-lg-6 mb-5 ftco-animate">
    				<a href="#" class="image-popup"><img src="{{asset('img/products/' . $product->image )}}" class="img-fluid" alt="Onfarm"></a>
    			</div>
    			<div class="col-lg-6 product-details pl-md-5 ftco-animate">
    				<h3>{{$product->name}} <h4> {{$product->user->name}}</h4></h3>
    				<div class="rating d-flex">
							<p class="text-left mr-4">
              <star-rating></star-rating>
							</p>

            </div>
            <p>Ready on {{$product->ready_date}}</p>
            <p>{{$product->description}}</p>
            <p class="price"><span>ksh{{$product->price}}</span></p>
            
    			
						<div class="w-100"></div>
							
	          	<div class="w-100"></div>
	          	
            </div>
            
          	<p><a href="{{ url('add-to-cart/'.$product->id) }}" class="btn btn-black py-3 px-5">Add to Cart</a></p>
    			</div>
    		</div>
    	</div>
    </section>

    <div class="item-wrapper">
      

<star-rating :rating="{{$product->getStarRating()}}"></star-rating>
<br>

@if(auth()->check())
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Write a review</button>


@include('admin.product.partials.review_form')
@else
    <a href="/login" class="button" >Write a review</a>

@endif
</div>

<div class="item-wrapper">
<ul>
@forelse($product->reviews as $review)

        <li>
            {{$review->headline}}
        </li>


    @empty

@endforelse
</ul>

</div>
</div>
</div>
@endsection



